In [1]:
# Dependencies and Setup
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
from config import (user, password, host, port, database)

# File to Load (Remember to Change These)
election_data = "data/countypres_2000-2016.csv"

# Read Purchasing File and store into Pandas data frame
election_data_df = pd.read_csv(election_data, low_memory=False)
election_data_df.head()

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version
0,2000,Alabama,AL,Autauga,1001.0,President,Al Gore,democrat,4942.0,17208,20191203
1,2000,Alabama,AL,Autauga,1001.0,President,George W. Bush,republican,11993.0,17208,20191203
2,2000,Alabama,AL,Autauga,1001.0,President,Ralph Nader,green,160.0,17208,20191203
3,2000,Alabama,AL,Autauga,1001.0,President,Other,NaN,113.0,17208,20191203
4,2000,Alabama,AL,Baldwin,1003.0,President,Al Gore,democrat,13997.0,56480,20191203

In [2]:
# Rename Column Headers & Clean up 
election_data_df = election_data_df.rename(columns={"year":"Year",
                                                           "state": "State" ,
                                                            "state_po": "State_Abbr",
                                                            "county":"County",
                                                            "FIPS": "FIPS",
                                                            "office": "Office",
                                                            "candidate": "Candidate",
                                                            "party": "Party",
                                                            "candidatevotes": "Candidate_Votes",
                                                            "totalvotes": "Total_Votes_byCounty",
                                                            "version": "Version"})


election_data_df.head()

,Year,State,State_Abbr,County,FIPS,Office,Candidate,Party,Candidate_Votes,Total_Votes_byCounty,Version
0,2000,Alabama,AL,Autauga,1001.0,President,Al Gore,democrat,4942.0,17208,20191203
1,2000,Alabama,AL,Autauga,1001.0,President,George W. Bush,republican,11993.0,17208,20191203
2,2000,Alabama,AL,Autauga,1001.0,President,Ralph Nader,green,160.0,17208,20191203
3,2000,Alabama,AL,Autauga,1001.0,President,Other,NaN,113.0,17208,20191203
4,2000,Alabama,AL,Baldwin,1003.0,President,Al Gore,democrat,13997.0,56480,20191203

In [3]:
election_data_df = election_data_df.drop(columns=["FIPS","Version"])
election_data_df.head()

,Year,State,State_Abbr,County,Office,Candidate,Party,Candidate_Votes,Total_Votes_byCounty
0,2000,Alabama,AL,Autauga,President,Al Gore,democrat,4942.0,17208
1,2000,Alabama,AL,Autauga,President,George W. Bush,republican,11993.0,17208
2,2000,Alabama,AL,Autauga,President,Ralph Nader,green,160.0,17208
3,2000,Alabama,AL,Autauga,President,Other,NaN,113.0,17208
4,2000,Alabama,AL,Baldwin,President,Al Gore,democrat,13997.0,56480

In [4]:
election_data_df["Party"].fillna("Other", inplace = True)
election_data_df["Candidate_Votes"].fillna("0", inplace = True)
election_data_df["State_Abbr"].fillna("unknown", inplace = True)
election_data_df.head()

,Year,State,State_Abbr,County,Office,Candidate,Party,Candidate_Votes,Total_Votes_byCounty
0,2000,Alabama,AL,Autauga,President,Al Gore,democrat,4942,17208
1,2000,Alabama,AL,Autauga,President,George W. Bush,republican,11993,17208
2,2000,Alabama,AL,Autauga,President,Ralph Nader,green,160,17208
3,2000,Alabama,AL,Autauga,President,Other,Other,113,17208
4,2000,Alabama,AL,Baldwin,President,Al Gore,democrat,13997,56480

In [5]:
# election_cols = ["Year", "State", "State_Abbr", "County","Office","Candidate","Party","Candidate Votes","Total Votes" ]
# final_election_data_df = new_election_data_df[election_cols].copy()
# final_election_data_df.head()

# LOAD

### Steps
- Create database connection
- Load DataFrames into database
- Create Database Connection

### Create Database Connection

In [6]:
engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{database}')
conn = engine.connect()

In [7]:
engine.table_names()

[]

In [9]:
election_data_df.to_sql(name='election_data', con = engine, if_exists='append', index=True)