In [1]:
# Dependencies and Setup
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
from config import (user, password, host, port, database)

# File to Load (Remember to Change These)
election_data = "data/countypres_2000-2016.csv"

# Read Purchasing File and store into Pandas data frame
election_data_df = pd.read_csv(election_data, low_memory=False)
election_data_df.head()

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version
0,2000,Alabama,AL,Autauga,1001.0,President,Al Gore,democrat,4942.0,17208,20191203
1,2000,Alabama,AL,Autauga,1001.0,President,George W. Bush,republican,11993.0,17208,20191203
2,2000,Alabama,AL,Autauga,1001.0,President,Ralph Nader,green,160.0,17208,20191203
3,2000,Alabama,AL,Autauga,1001.0,President,Other,NaN,113.0,17208,20191203
4,2000,Alabama,AL,Baldwin,1003.0,President,Al Gore,democrat,13997.0,56480,20191203

In [2]:
# Rename Column Headers & Clean up 
election_data_df = election_data_df.rename(columns={"year":"Year",
                                                           "state": "State" ,
                                                            "state_po": "State_Abbr",
                                                            "county":"County",
                                                            "FIPS": "FIPS",
                                                            "office": "Office",
                                                            "candidate": "Candidate",
                                                            "party": "Party",
                                                            "candidatevotes": "Candidate_Votes",
                                                            "totalvotes": "Total_Votes_byCounty",
                                                            "version": "Version"})


election_data_df.head()

,Year,State,State_Abbr,County,FIPS,Office,Candidate,Party,Candidate_Votes,Total_Votes_byCounty,Version
0,2000,Alabama,AL,Autauga,1001.0,President,Al Gore,democrat,4942.0,17208,20191203
1,2000,Alabama,AL,Autauga,1001.0,President,George W. Bush,republican,11993.0,17208,20191203
2,2000,Alabama,AL,Autauga,1001.0,President,Ralph Nader,green,160.0,17208,20191203
3,2000,Alabama,AL,Autauga,1001.0,President,Other,NaN,113.0,17208,20191203
4,2000,Alabama,AL,Baldwin,1003.0,President,Al Gore,democrat,13997.0,56480,20191203

In [3]:
election_data_df = election_data_df.drop(columns=["Version"])
election_data_df.head()

,Year,State,State_Abbr,County,FIPS,Office,Candidate,Party,Candidate_Votes,Total_Votes_byCounty
0,2000,Alabama,AL,Autauga,1001.0,President,Al Gore,democrat,4942.0,17208
1,2000,Alabama,AL,Autauga,1001.0,President,George W. Bush,republican,11993.0,17208
2,2000,Alabama,AL,Autauga,1001.0,President,Ralph Nader,green,160.0,17208
3,2000,Alabama,AL,Autauga,1001.0,President,Other,NaN,113.0,17208
4,2000,Alabama,AL,Baldwin,1003.0,President,Al Gore,democrat,13997.0,56480

In [4]:
election_data_df["Party"].fillna("Other", inplace = True)
election_data_df["Candidate_Votes"].fillna("0", inplace = True)
election_data_df["State_Abbr"].fillna("unknown", inplace = True)
election_data_df["FIPS"].fillna("0", inplace = True)
election_data_df.head()

,Year,State,State_Abbr,County,FIPS,Office,Candidate,Party,Candidate_Votes,Total_Votes_byCounty
0,2000,Alabama,AL,Autauga,1001,President,Al Gore,democrat,4942,17208
1,2000,Alabama,AL,Autauga,1001,President,George W. Bush,republican,11993,17208
2,2000,Alabama,AL,Autauga,1001,President,Ralph Nader,green,160,17208
3,2000,Alabama,AL,Autauga,1001,President,Other,Other,113,17208
4,2000,Alabama,AL,Baldwin,1003,President,Al Gore,democrat,13997,56480

In [5]:
# File to Load (Remember to Change These)
state_election_data = "data/1976-2020-president.csv"

# Read Purchasing File and store into Pandas data frame
state_election_data_df = pd.read_csv(state_election_data, low_memory=False)
state_election_data_df.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party_detailed,writein,candidatevotes,totalvotes,version,notes,party_simplified
0,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"CARTER, JIMMY",DEMOCRAT,False,659170,1182850,20210113,NaN,DEMOCRAT
1,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"FORD, GERALD",REPUBLICAN,False,504070,1182850,20210113,NaN,REPUBLICAN
2,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"MADDOX, LESTER",AMERICAN INDEPENDENT PARTY,False,9198,1182850,20210113,NaN,OTHER
3,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"BUBAR, BENJAMIN """"BEN""""",PROHIBITION,False,6669,1182850,20210113,NaN,OTHER
4,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"HALL, GUS",COMMUNIST PARTY USE,False,1954,1182850,20210113,NaN,OTHER

In [6]:
state_election_data_df = state_election_data_df.drop(columns=["state_fips","state_cen","state_ic", "writein", "party_detailed", "version", "notes"])
state_election_data_df.head()

,year,state,state_po,office,candidate,candidatevotes,totalvotes,party_simplified
0,1976,ALABAMA,AL,US PRESIDENT,"CARTER, JIMMY",659170,1182850,DEMOCRAT
1,1976,ALABAMA,AL,US PRESIDENT,"FORD, GERALD",504070,1182850,REPUBLICAN
2,1976,ALABAMA,AL,US PRESIDENT,"MADDOX, LESTER",9198,1182850,OTHER
3,1976,ALABAMA,AL,US PRESIDENT,"BUBAR, BENJAMIN """"BEN""""",6669,1182850,OTHER
4,1976,ALABAMA,AL,US PRESIDENT,"HALL, GUS",1954,1182850,OTHER

In [7]:
# Rename Column Headers & Clean up 
state_election_data_df = state_election_data_df.rename(columns={"year":"Year",
                                                           "state": "State" ,
                                                            "state_po": "State_Abbr",
                                                            "office":"Office",
                                                            "candidate": "Candidate",
                                                            "candidatevotes": "Candidate_Votes",
                                                            "totalvotes": "Total_Votes_by_State",
                                                            "party_simplified": "Party"})


state_election_data_df["Candidate"].fillna("Other", inplace = True)
state_election_data_df.head()

,Year,State,State_Abbr,Office,Candidate,Candidate_Votes,Total_Votes_by_State,Party
0,1976,ALABAMA,AL,US PRESIDENT,"CARTER, JIMMY",659170,1182850,DEMOCRAT
1,1976,ALABAMA,AL,US PRESIDENT,"FORD, GERALD",504070,1182850,REPUBLICAN
2,1976,ALABAMA,AL,US PRESIDENT,"MADDOX, LESTER",9198,1182850,OTHER
3,1976,ALABAMA,AL,US PRESIDENT,"BUBAR, BENJAMIN """"BEN""""",6669,1182850,OTHER
4,1976,ALABAMA,AL,US PRESIDENT,"HALL, GUS",1954,1182850,OTHER

In [8]:
state_election_data_df.groupby(['Year', 'State', 'Party']).sum()

                            Candidate_Votes  Total_Votes_by_State
Year State     Party
1976 ALABAMA   DEMOCRAT              659170               1182850
               LIBERTARIAN             1481               1182850
               OTHER                  18129               4731400
               REPUBLICAN            504070               1182850
     ALASKA    DEMOCRAT               44058                123574
...                                     ...                   ...
2020 WISCONSIN REPUBLICAN           1610184               3298041
     WYOMING   DEMOCRAT               73491                278503
               LIBERTARIAN             5768                278503
               OTHER                   5685               1114012
               REPUBLICAN            193559                278503

[2354 rows x 2 columns]

# LOAD

### Steps
- Create database connection
- Load DataFrames into database
- Create Database Connection

### Create Database Connection

In [9]:
engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{database}')
conn = engine.connect()

In [10]:
engine.table_names()

['election_data']

In [11]:
election_data_df.to_sql(name='election_data', con = engine, if_exists='append', index=True)

In [12]:
state_election_data_df.to_sql(name='state_election_data', con = engine, if_exists='append', index=True)